body {
  font-family: 'Montserrat';
}

.lazyload,
.lazyloading {
  opacity: 0;
  transition: opacity 400ms !important;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 400ms !important;
}

.main-container {
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}
